.col-md-8 {
    max-width: 100% !important;
}
.firstval{
    max-width: 100%;
    margin-top: 2.5%;
}
.scndval{
    max-width: 100%;
    display: flex;
}
.secondtbl{
    margin-top: 2%;
}

.gngcodeinp{
    width: 20%;
}