// .panel .panel-head {
//     background: #e4e6eb !important;
// }


// ::ng-deep .hide {
//     display: none !important;
// }
// .codeinp{
//     width: 40%;
// }
// .nameinp{
    
//     width: 40%;
//     margin-left: 30px;
// }
// .maketogetherinps{
//     margin-top: 15px;
//     margin-bottom: 15px;
//     display: flex;
//     flex-direction: row;
    
// }
// .textdisp{
//     border-bottom-left-radius: 45px;
//     border-top-left-radius: 45px;
//     border-top-right-radius: 45px;
//     border-bottom-right-radius: 45px;
    
//     width: 95%;
    
// }
// textarea{
//     margin-top: 15px;
//     margin-left: auto;
//     margin-right: auto;
    
// }
// .binc{
//     position: relative;
//     top: -70px;
//     right: -650px;
// }
// .sendercount{
//     margin-top: 19px;
// }

// .inpbord{
//     border-top-right-radius: 25px;
//     border-bottom-right-radius: 25px;
//     border-bottom-left-radius: 25px;
//     border-top-left-radius: 25px;
// }
// .divsmix{
//     display: flex;
//     justify-content: center;
//     background-color: white;
// }
// .dansadgchng{
//     border-style: ridge;
//     margin-left: 255px;
//     margin-top: 40px;
// }
// .gamgzqveychng{
//     margin-top: 40px;
//     border-style: ridge;
// }

.inpfields{
    display: flex;
}

.kodinp{
    width: 90%;
}
.baaaaaaat{
    width: 10%;
}


.panel{
    background-color: white;
}

.belowpositions{
    display: flex;
    margin: auto;
    margin-top: 5%;
    text-align: center;
 
}
.eqspeditorcl{
    width: 120%;
}

.textareamovs{
    width: 100%;
}

.panel .panel-head {
    background: #e4e6eb !important;
}


::ng-deep .hide {
    display: none !important;
}

.panelsettings{
    margin-top: 1%;
}
.tablrespsettings{
    background-color: #E4E6EB;
}