
<button
            class="btn btn-lg gr-btn success mr-2 marginofbuttons"
            
            tooltip="შენახვა"
            placement="bottom"
            (click)="form.insertData()"
            
            
        >
        
            <i class="fas fa-plus"></i>
        </button>
<button class="btn btn-lg gr-btn warn mr-2 refreshButton marginofbuttons" tooltip="გადატვირთვა" placement="bottom" id="refresh-button" onClick="location.href=location.href">
    <i class="fas fa-sync-alt"></i>
</button>