<div class="row m-0" [formGroup]="form.FeedbackForm">
    <div class="col-md p-0">
        <div class="panel">
            <div class="panel-head">
                <div class="row m-0">
                    <div class="col-md title mb-2 mb-md-0">
                        <p>{{ 'navigation.Note' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <textarea class="form-control gr-input" formControlName="FeedbackNote" rows="24"></textarea>
            </div>
        </div>
    </div>
</div>
