<div class="container">
    <div class="row justify-content-between header-form" [formGroup]="form.headerForm">
        <div class="col-md-2 header-form-group txtlgncntr">
            <div class="row mb-3">
                <label>{{ 'navigation.StatementNumber' | translate }}</label>
                <input
                        class="form-control gr-input validate"
                        formGroupName="StatementType"
                        OnlyNumbers    
                        maxlength="10"
                        
                    />
            </div>
        </div>
        <div class="col-md-2 header-form-group txtlgncntr">
            <div class="row mb-3 responsivefiletype">
                <label>{{ 'navigation.FileType' | translate }}</label>
                <select
                    class="gr-input validate"
                    formControlName="FileType"
                    >
                    <option *ngFor="let item of fileTypeName?.data" [value]="item.code">
                        {{ item.name }}
                    </option>
                    
                
                </select>
            </div>
        </div>    
        <div class="col-md-2 header-form-group">
            <div class="row mb-3 datepckwdth txtlgncntr">
                <label>{{ 'navigation.OperationDate' | translate }}</label>               
                <div class="input-group">
                    <input type="text" class="form-control gr-input txtlgncntr" formControlName="dateFrom" placeholder="{{ 'navigation.DayMonthYear' | translate }}"
                          readonly bsDatepicker #dp="bsDatepicker" required [minDate]="minDate" [maxDate]="maxDate" />
                    <div class="input-group-append">
                          <button class="btn gr-btn gr-input white" type="button" (click)="dp.show()"
                          [attr.aria-expanded]="dp.isOpen">
                          <i class="far fa-calendar-alt"></i>
                          </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 header-form-group sss">
            <div class="row mb-3 qqq responsiveloadtype">
        
                <label>{{ 'navigation.TransportationType' | translate }}</label>
                <select
                    class="gr-input validate"
                    formControlName="LoadType"
                    required
                >
                <option *ngFor="let item of transportingTypeName?.data" [value]="item.code">
                    {{ item.name }}
                </option>
                </select>
            </div>
                  
        </div>
    </div>
</div>

